@model Input 

@{ 
    ViewData["Title"] = "Calculator";
}
<div>
    <h2>Кредитный калькулятор:</h2>
    <form asp-action="Privacy" method="post">       
        <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <p class="col-lg-3">
            <label for="CreditSum"> Сумма кредита (руб.):</label><br />
            <input class="form-control" type="number" asp-for="CreditSum" min="1" placeholder="100 000">
            <span class="text-danger" asp-validation-for="CreditSum"></span>        
        </p>
        <p class="col-lg-3">
            <label for="CreditMonth"> Срок кредита (мес.):</label><br />
            <input class="form-control" type="number" asp-for="CreditMonth" min="1" placeholder="12">
            <span class="text-danger" asp-validation-for="CreditMonth"></span> 
        </p >
        <p class="col-lg-3">
            <label for="InterestRate"> Процентная ставка (%):</label><br />
            <input class="form-control" type="number" asp-for="InterestRate" min="1" step = "0.1" placeholder="9,5" >
            <span class="text-danger" asp-validation-for="InterestRate"></span> 
        </p >
        <p>
            <input class="btn btn-success" type="submit" value="Рассчитать"> 
            <input class="btn btn-danger" type="reset" value="Очистить поля" />
        </p>
        </div>
    </form>
</div>
@section Scripts
{
    @{ <partial name = "_ValidationScriptsPartial"/>}
}
